<%- include('../components/head') %>
  <%- include('../components/navbar') %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><%= artikel[0].judul %></h1>
    </div>
  </div> 
  <div class="container">
    <p><%= artikel[0].isi %></p>
  </div>
<%- include('../components/bottom') %> 