<%- include('../components/head') %> 
  <%- include('../components/navbar') %> 

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Riset EJS</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <% artikel.forEach(artikel=>{ %>
          <div class="card">
            <div class="card-header">
              <%= artikel.judul %>
            </div>
            <div class="card-body">
              <p class="card-text"><%= artikel.isi %></p>
              <a href="/artikel/<%= artikel.id %> " class="btn btn-primary">Detail</a>
            </div>
          </div>
          <br/>
        <% }) %> 
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>

<%- include('../components/bottom') %> 